<div class="tab-pane active" id="websites-loaded-all-tab">
  <p>The table belows shows the top 100 websites reporting to your <%= product_name %> dashboard.</p>
  <table class="table table-bordered table-condensed table-striped" id="websites-all-table">
    <thead>
      <tr>
        <th>Referring Web Site</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @referers.keys.sort{|a,b| @referers[b] <=> @referers[a]}.each do |ref|
        cnt = @referers[ref]
      %>
      <tr>
        <td>
          <%= ref %>
        </td>
        <td>
          <%= cnt %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
 $(document).ready(function(){
   $('#websites-all-table').dataTable( {
     "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap",
      "aaSorting": [[ 1, "desc" ]]
    } );
 });
</script>
