<div class="tab-pane span10" id="windows-version-tab">
  <!-- Current Browser's Plugin Information -->
  <h3>Current Browser's Information</h3>
  <table class="span10 well well-large" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="configure-table">
    <thead>
      <tr>
        <th>Software</th>
        <th>Detected Version</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img src="/assets/world.png" border="0">
          &nbsp;&nbsp;Browser
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_devalvr.png" border="0">
          &nbsp;&nbsp;DevalVR
        </td>
        <td>

        </td>
      </tr>


      <tr>
        <td>
          <img src="/assets/icon_flash.png" border="0">
          &nbsp;&nbsp;Adobe Flash
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_java.png" border="0">
          &nbsp;&nbsp;Oracle Java
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_quicktime.png" border="0">
          &nbsp;&nbsp;Apple Quicktime
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_reader.png" border="0">
          &nbsp;&nbsp;Adobe Reader
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_realplayer.png" border="0">
          &nbsp;&nbsp;RealPlayer
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_shockwave.png" border="0">
          &nbsp;&nbsp;Shockwave
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_silverlight.png" border="0">
          &nbsp;&nbsp;Microsoft Silverlight
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_vlc.png" border="0">
          &nbsp;&nbsp;VLC Media Player
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_wmp.png" border="0">
          &nbsp;&nbsp;Windows Media Player
        </td>
        <td>

        </td>
      </tr>
    </tbody>
  </table>
 </div>
