<tr>
  <td align="center">
    <a href="./map?duration=week">Week</a>
  </td>
  <td align="center">
    <a href="./map?duration=month">Month</a>
  </td>
  <td align="center">
    <a href="./map?duration=quarter">Quarter</a>
  </td>
</tr>

