<center>
<div id="nav_pills" class="container">
	<ul class="nav nav-pills">
        	<li class="active"><a href="./dashboard?duration=24">Past 24</a></li>
        	<li><a href="./map?duration=week">Week</a></li>
		<li><a href="./map?duration=month">Month</a></li>
		<li><a href="./map?duration=quarter">Quarter</a></li>
		<li><a href="./map?duration=year">Year</a></li>
	</ul>
</div>
<div id="map" class="container">
	<%= render 'map' %>
</div>


