<div class="row">
  <hr/>
</div>

<div class="row footer">
  <p><a href="https://github.com/rapid7/plugin-scan">PluginScan</a> (v<%= PLUGINSCAN_VERSION %>) is a <a href="http://www.rapid7.com">Rapid7</a> <a href="https://github.com/rapid7/plugin-scan/blob/master/LICENSE">Open Source</a> Project</p>
</div>
