  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="See your and/or your organizations browser based vulnerabilities. Scan your browser here or place a tracking code on internal sites to see browser vulnerabilities in your organization. Scan now!">
    <title>PluginScan</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
        background-color:#FFFFFF;
	    }
    </style>
  </head>
